{% load static %}
<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="main-wrapper">
        <div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>

        <div id="my_switcher" class="my_switcher">
            <ul>
                <li>
                    <a href="javascript: void(0);" data-theme="light" class="setColor light">
                        <span title="Light Mode">Light</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                        <span title="Dark Mode">Dark</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Start Header -->
        <header class="header axil-header  header-light header-sticky ">
            <div class="header-wrap">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img class="dark-logo" src="{% static 'images/logo/logo-black.png' %}" alt="Blogar logo">
                                <img class="light-logo" src="{% static 'images/logo/logo-white2.png' %}" alt="Blogar logo">
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-6 d-none d-xl-block">
                        <div class="mainmenu-wrapper">
                            <nav class="mainmenu-nav">
                                <!-- Start Mainmanu Nav -->
                                <ul class="mainmenu">
                                    <li class="menu-item-has-children"><a href="#">Home</a>
                                        <!-- <ul class="axil-submenu">
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="index.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Home Default">Home Default</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="home-creative-blog.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Home Creative Blog">Home Creative Blog</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="home-seo-blog.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Home SEO Blog">Home SEO Blog</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="home-tech-blog.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Home Tech Blog">Home Tech Blog</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="home-lifestyle-blog.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Home Lifestyle Blog">Home Lifestyle Blog</span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul> -->
                                    </li>

                                    <li class="menu-item-has-children"><a href="{% url 'all-blogs' %}">Posts</a>
                                        <!-- <ul class="axil-submenu">
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="post-format-standard.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Post Format Standard">Post Format Standard</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="post-format-video.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Post Format Video">Post Format Video</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="post-format-gallery.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Post Format Gallery">Post Format Gallery</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="post-format-text.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Post Format Text Only">Post Format Text Only</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="post-layout-1.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Post Layout One">Post Layout One</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="post-layout-2.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Post Layout Two">Post Layout Two</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="post-layout-3.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Post Layout Three">Post Layout Three</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="post-layout-4.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Post Layout Four">Post Layout Four</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover-flip-item-wrapper" href="post-layout-5.html">
                                                    <span class="hover-flip-item">
                        <span data-text="Post Layout Five">Post Layout Five</span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul> -->
                                    </li>


                                </ul>
                                <!-- End Mainmanu Nav -->
                            </nav>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-8 col-md-8 col-sm-9 col-12">
                        <div class="header-search text-end d-flex align-items-center">
                            <form class="header-search-form d-sm-block d-none">
                                <div class="axil-search form-group">
                                    <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </form>
                            <div class="mobile-search-wrapper d-sm-none d-block">
                                <button class="search-button-toggle"><i class="fal fa-search"></i></button>
                                <form class="header-search-form">
                                    <div class="axil-search form-group">
                                        <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </form>
                            </div>

                            <div class="dropdown">
                                {% if user.is_authenticated %}
                                <button class="btn btn-secondary dropdown-toggle user_dv" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  <!-- Dropdown button -->
                                  <a href="#"><img src="{% static 'images/others/author.png' %}" alt="Author Images"></a>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  
                                  <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                                  <li><a class="dropdown-item" href="#">Profile</a></li>
                                  <li><a class="dropdown-item" href="{% url 'add-blog' %}">Add Blog</a></li>
                                  
                                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                  
                                </ul>
                                {% else %}
                                  <a class="btn btn-primary" type="button"href="{% url 'login' %}">Login</a>
                                {% endif %}
                              </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Start Header -->

        <!-- Start Mobile Menu Area  -->
        <div class="popup-mobilemenu-area">
            <div class="inner">
                <div class="mobile-menu-top">
                    <div class="logo">
                        <a href="index.html">
                            <img class="dark-logo" src="{% static 'images/logo/logo-black.png' %}" alt="Logo Images">
                            <img class="light-logo" src="{% static 'images/logo/logo-white2.png' %}" alt="Logo Images">
                        </a>
                    </div>
                    <div class="mobile-close">
                        <div class="icon">
                            <i class="fal fa-times"></i>
                        </div>
                    </div>
                </div>
                <ul class="mainmenu">
                    <li class="menu-item-has-children"><a href="#">Home</a>
                        <ul class="axil-submenu">
                            <li><a href="index.html">Home Default</a></li>
                            <li><a href="home-creative-blog.html">Home Creative Blog</a></li>
                            <li><a href="home-seo-blog.html">Home Seo Blog</a></li>
                            <li><a href="home-tech-blog.html">Home Tech Blog</a></li>
                            <li><a href="home-lifestyle-blog.html">Home Lifestyle Blog</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Categories</a>
                        <ul class="axil-submenu">
                            <li><a href="post-details.html">Accessibility</a></li>
                            <li><a href="post-details.html">Android Dev</a></li>
                            <li><a href="post-details.html">Accessibility</a></li>
                            <li><a href="post-details.html">Android Dev</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Post Format</a>
                        <ul class="axil-submenu">
                            <li><a href="post-format-standard.html">Post Format Standard</a></li>
                            <li><a href="post-format-video.html">Post Format Video</a></li>
                            <li><a href="post-format-gallery.html">Post Format Gallery</a></li>
                            <li><a href="post-format-text.html">Post Format Text Only</a></li>
                            <li><a href="post-layout-1.html">Post Layout One</a></li>
                            <li><a href="post-layout-2.html">Post Layout Two</a></li>
                            <li><a href="post-layout-3.html">Post Layout Three</a></li>
                            <li><a href="post-layout-4.html">Post Layout Four</a></li>
                            <li><a href="post-layout-5.html">Post Layout Five</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Pages</a>
                        <ul class="axil-submenu">
                            <li><a href="post-list.html">Post List</a></li>
                            <li><a href="archive.html">Post Archive</a></li>
                            <li><a href="author.html">Author Page</a></li>
                            <li><a href="about.html">About Page</a></li>
                            <li><a href="maintenance.html">Maintenance</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li><a href="404.html">404 Page</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
                <div class="buy-now-btn">
                    <a href="#">Buy Now <span class="badge">$15</span></a>
                </div>
            </div>
        </div>
        <!-- End Mobile Menu Area  -->





        



        {% block content %}

        {% endblock %}















































        <div class="axil-footer-area axil-footer-style-1 footer-variation-2">
            <div class="footer-mainmenu">
                <div class="container">
                    <div class="row">
                        
                    </div>
                </div>
            </div>

            <!-- Start Footer Top Area  -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-4">
                            <div class="logo">
                                <a href="index.html">
                                    <img class="dark-logo" src="{% static 'images/logo/logo-black.png' %}" alt="Logo Images">
                                    <img class="white-logo" src="{% static 'images/logo/logo-white2.png' %}" alt="Logo Images">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-8">
                            <div class="d-flex justify-content-start mt_sm--15 justify-content-md-end align-items-center flex-wrap">
                                <h5 class="follow-title mb--0 mr--20">Follow Us</h5>
                                <ul class="social-icon color-tertiary md-size justify-content-start">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <a id="backto-top"></a>

    </div>

    {% block scripts %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'js/vendor/modernizr.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/slick.min.js' %}"></script>
    <script src="{% static 'js/vendor/tweenmax.min.js' %}"></script>
    <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.style.switcher.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

</body>


</html>